%h4 Seasons you are participating in:
%table
  %tr
    %th Name
    %th Begin Date
    %th End Date
    %th
  - current_user.seasons.each do |season|
    %tr
      %td= link_to season.name, season
      %td= season.begin_date
      %td= season.end_date
%br
%h4 Seasons you are managing:
%table
  %tr
    %th Name
    %th Begin Date
    %th End Date
    %th
  - current_user.seasons_i_run.each do |season|
    %tr
      %td= link_to season.name, season
      %td= season.begin_date
      %td= season.end_date
%br
= link_to 'New Season', new_season_path
