%h3
  = @season.name
%p
  = @season.begin_date
  \-
  = @season.end_date
%h4 Participants
%table
  %tbody
    - @season.rosters.each do |roster|
      %tr
        %td= roster.user.name
= link_to 'Back', seasons_path
