= simple_form_for @roster do |f|
  - if @roster.errors.any?
    #error_explanation
      %h2= "#{pluralize(@roster.errors.count, "error")} prohibited this roster from being saved:"
      %ul
        - @roster.errors.full_messages.each do |msg|
          %li= msg

  = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
  - if params[:action] == 'new'
    = f.association :season

  = f.association :movie_one, prompt: "Choose One"
  = f.association :movie_two, prompt: "Choose One"
  = f.association :movie_three, prompt: "Choose One"
  = f.association :movie_four, prompt: "Choose One"
  = f.association :movie_five, prompt: "Choose One"
  = f.association :movie_six, prompt: "Choose One"
  = f.association :movie_seven, prompt: "Choose One"
  = f.association :movie_eight, prompt: "Choose One"
  = f.association :movie_nine, prompt: "Choose One"
  = f.association :movie_ten, prompt: "Choose One"
  = f.association :darkhorse_one, prompt: "Choose One"
  = f.association :darkhorse_two, prompt: "Choose One"
  = f.association :darkhorse_three, prompt: "Choose One"
 
  .actions
    = f.submit 'Save'
