= simple_form_for @roster do |f|
  - if @roster.errors.any?
    #error_explanation
      %h2= "#{pluralize(@roster.errors.count, "error")} prohibited this roster from being saved:"
      %ul
        - @roster.errors.full_messages.each do |msg|
          %li= msg
  = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
  - if params[:action] == 'new'
    = f.association :season
  = f.association :movie_one, collection: Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC"), prompt: "Choose One"
  = f.association :movie_two, collection: Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC"), prompt: "Choose One"
  = f.association :movie_three, collection: Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC"), prompt: "Choose One"
  = f.association :movie_four, collection: Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC"), prompt: "Choose One"
  = f.association :movie_five, collection: Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC"), prompt: "Choose One"
  = f.association :movie_six, collection: Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC"), prompt: "Choose One"
  = f.association :movie_seven, collection: Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC"), prompt: "Choose One"
  = f.association :movie_eight, collection: Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC"), prompt: "Choose One"
  = f.association :movie_nine, collection: Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC"), prompt: "Choose One"
  = f.association :movie_ten, collection: Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC"), prompt: "Choose One"
  = f.association :darkhorse_one, collection: Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC"), prompt: "Choose One"
  = f.association :darkhorse_two, collection: Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC"), prompt: "Choose One"
  = f.association :darkhorse_three, collection: Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC"), prompt: "Choose One"
  .actions
    = f.submit 'Save', class: 'btn-link'
%h2
  Movies Between
  = @roster.season.begin_date.strftime("%B %d, %Y")
  and
  = @roster.season.begin_date.strftime("%B %d, %Y")
%table
  %thead
    %tr
      %th Name
      %th IMDB
      %th Release
  %tbody
    - Movie.movies_between(@roster.season.begin_date, @roster.season.end_date).order("name ASC").each do |movie|
      %tr
        %td= link_to movie.name, movie
        - if movie.imdb_id
          %td= link_to "IMDB Page", "http://www.imdb.com/title/" + movie.imdb_id, target: '_blank'
        - else
          %td no link
        %td= movie.release.strftime("%B %d, %Y")
