%h1 Listing rosters

%table
  %tr
    %th Season
    %th Top Movie
    %th
    %th
    %th

  - current_user.rosters.each do |roster|
    %tr
      %td= roster.season.name
      - if roster.movie_one
        %td= roster.movie_one.name
      - else
        %td
      %td= link_to 'Show', roster
      %td= link_to 'Edit', edit_roster_path(roster)
      %td= link_to 'Destroy', roster, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Roster', new_roster_path
