%p
  Roster for
  = @roster.user.name
  in the season,
  = "\"" + @roster.season.name + "\""
%h4 Top Movie Picks:
%table
  %tbody
    %tr
      %td 1
      %td= movie_choice @roster.movie_one
    %tr
      %td 2
      %td= movie_choice @roster.movie_two
    %tr
      %td 3
      %td= movie_choice @roster.movie_three
    %tr
      %td 4
      %td= movie_choice @roster.movie_four
    %tr
      %td 5
      %td= movie_choice @roster.movie_five
    %tr
      %td 6
      %td= movie_choice @roster.movie_six
    %tr
      %td 7
      %td= movie_choice @roster.movie_seven
    %tr
      %td 8
      %td= movie_choice @roster.movie_eight
    %tr
      %td 9
      %td= movie_choice @roster.movie_nine
    %tr
      %td 10
      %td= movie_choice @roster.movie_ten
%h4 Darkhose Movies:
%table
  %tbody
    %tr
      %td 1
      %td= movie_choice @roster.darkhorse_one
    %tr
      %td 2
      %td= movie_choice @roster.darkhorse_two
    %tr
      %td 3
      %td= movie_choice @roster.darkhorse_three
%br 
= link_to 'Edit', edit_roster_path(@roster)
\|
= link_to 'Back', rosters_path
