%h3
  = @movie.name
%p
  %div
    Release Date: 
    = @movie.release
  %div
    Box Office: 
    = @movie.box_office_actual
- if current_user.admin?
  = link_to 'Edit', edit_movie_path(@movie)
  \|
  = link_to 'Back', movies_path
