%h3
  = @user.name + "'s"
  Achievments
%div
  Seasons Won:
  = @user.seasons_won
%div
  Total Points Gained:
  = @user.total_points
%div
  Best Finished Season Score
  = @user.best_finished_season_score
%h4 Active and ongoing seasons:
- if @user.active_ongoing_seasons.any?
  %table
    - @user.active_ongoing_seasons.each do |season|
      %tr
        %td= link_to season.name, season
        %td= season.roster_for(@user).score["total"]
- else
  %p None
%br
%h4 Not Started Seasons: 
- if @user.unstarted_seasons.any?
  %table
    - @user.unstarted_seasons.each do |season|
      %tr
        %td= link_to season.name, season
        %td= season.roster_for(@user).score["total"]
- else
  %p None
%br
%h4 Past Seasons:
- if @user.past_seasons.any?
  %table
    - @user.past_seasons.each do |season|
      %tr
        %td= link_to season.name, season
        %td= season.roster_for(@user).score["total"]
- else
  %p None
%div
  %span
    %h4 
      Major Seasons Finished:
      - score = User.most_6_month_seasons_finished(current_user.me)
      = score[0] ? score[0][1] : "-"
  %span
    %h4 
      Major Seasons Won:
      - score = User.most_6_month_seasons_won(current_user.me)
      = score[0] ? score[0][1] : "-"
  %span
    %h4 
      Major Season High Score:
      - score = User.high_score_6_month_season(current_user.me)
      = score[0] ? score[0][1] : "-"
%div
  %span
    %h4 
      Total Points Scored:
      - score = User.most_points(current_user.me)
      = score[0] ? score[0][1] : "-"
  %span
    %h4 
      High Score This Year:
      - score = User.single_season_score_this_year(current_user.me)
      = score[0] ? score[0][1] : "-"
  %span
    %h4 
      High Major Season Score This Year:
      - score = User.single_6_month_season_score_this_year(current_user.me)
      = score[0] ? score[0][1] : "-"
%div
  %span
    %h4 
      Seasons Finished:
      - score = User.seasons_finished(current_user.me)
      = score[0] ? score[0][1] : "-"
  %span
    %h4
      Seasons Won:
      - score = User.seasons_won(current_user.me)
      = score[0] ? score[0][1] : "-"
  %span
    %h4 
      High Score:
      - score = User.highest_score(current_user.me)
      = score[0] ? score[0][1] : "-"
