= simple_form_for @friend_request do |f|
  - if @friend_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@friend_request.errors.count, "error")} prohibited this friend_request from being saved:"
      %ul
        - @friend_request.errors.full_messages.each do |msg|
          %li= msg
  = f.input :requester_id, as: :hidden, input_html: { value: current_user.id }
  = f.association :requestee, collection: FriendRequest.relevant_users_for(current_user)
  = f.input :message
  %br
  .actions
    = f.submit 'Save', class: "btn-link"
