<!DOCTYPE html>
%html
%head
  %title Fantasy Movie League
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body

  .container
    .left-menu
      %span.notice
        = notice
      %span.alert
        = alert
      - if current_user
        = active_link_to current_user.name, users_trophies_path(id: current_user.id), class: "menu-item"
        = active_link_to "Movies", movies_path, class: "menu-item"
        = active_link_to "Rosters", rosters_path, class: "menu-item"
        = active_link_to "Seasons", seasons_path, class: "menu-item"
        = active_link_to "Friends", friends_list_friend_request_path(current_user), class: "menu-item"
        = active_link_to "Friend Requests", friend_requests_path, class: "menu-item"
        = active_link_to "Season Requests", season_requests_path, class: "menu-item"
        = active_link_to "All Users", users_index_path, class: "menu-item"
        = active_link_to "Logout", destroy_user_session_path, method: :delete, class: "menu-item"
        = active_link_to "Edit Account", edit_user_registration_path, class: "menu-item"
      - else
        .menu-item Welcome - please sign in or create an account
      
    .right-menu
      = yield
