<!DOCTYPE html>
%html
%head
  %title Fantasy Movie League
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  - if current_user
    %p.notice
      = notice
    %p.alert
      = alert
    = link_to "Movies", movies_path
    = link_to "Rosters", rosters_path
    = link_to "Seasons", seasons_path
    = link_to "Friend Requests", friend_requests_path
    = link_to "Logout", destroy_user_session_path, method: :delete
  - else
    Welcome
    
  = yield
